@import "src/core/styles/_assets.scss";

.placeholder {
	display: block;
	width: var(--width);
	height: var(--height);
	@include placeholder;

	@include x-small {
		width: calc(var(--width) - 8px);
		height: calc(var(--height) - 8px);
	}
}

.circle {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}
